<h1>Temps passé par Makaras (EUW) sur LoL hier</h1>
<h4><%= @hier_time %></h4>
<h4>Cela équivaut à <%= @total_hier_secondes/3600*9.88 %> € au SMIC.</h4>
<h4>Semaine dernière : <%=@lastweek_time%> (soit <%= @total_lastweek_secondes/3600*9.88 %>€ au SMIC)</h4>
<%= @mlastweek.count%> parties comptabilisées la semaine dernière
<%= @total_lastweek_secondes/3600  %> heures